@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* CSS Variables */

:root {
  /* Howest colors */
  --blue: #44c8f5;
  --white: #feffff;
  --pink: #ec008c;
  --lightpink: #f9b2dc;
  --yellow: #ffed00;
  --lighyellow: #fffded;
  --green: #009a93;
  --lightgreen: #eaf5f5;
  --black: #000000;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--white);
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--blue);
  text-align: center;
  margin-block: 0;
  margin-block-start: 0.5rem;
}

p {
  margin-block: 0;
  margin-block-start: 0.25rem;
}

/* Buttons */

button {
  font-family: "Open Sans", sans-serif;
  padding: 10px 20px;
  border-radius: 5px;
  border-style: solid;
}

.btn-yellow {
  border-color: var(--yellow);
  background-color: var(--lighyellow);
  color: var(--black);
}

.btn-yellow:focus {
  border-color: var(--blue);
}

.btn-yellow:hover {
  background-color: var(--yellow);
}

.btn-pink {
  border-color: var(--pink);
  background-color: var(--lightpink);
  color: var(--black);
}

.btn-pink:focus {
  border-color: var(--blue);
}

.btn-pink:hover {
  background-color: var(--pink);
  color: var(--white);
}

/* Selects */

select {
  font-family: "Open Sans", sans-serif;
  padding: 10px 10px 10px 20px;
  border-radius: 5px;
  border-style: solid;
  margin-left: 10px;
}
